.widget-container {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    opacity: 0;

    display: none; /* Hide when not visible */
  }

  &.visible {
    opacity: 1;
    display: block; /* Show when visible */
  }
}
